{% extends "accounts/password_reset_base.html" %}

{% load i18n bootstrap3 %}
{% block content %}
<form class="well form-horizontal password-reset-form" action="" method="post" role="form">
  {% csrf_token %}
  <legend>{% trans "Password reset"%}</legend>
<p>{% trans "Have you forgotten your password?" %}<br>
{% trans "Fill in your e-mailaddress and click send." %}<br>
{% trans "You will receive an e-mail with an explanation on how to reset your password." %}</p>
  {% bootstrap_form form field_class='col-sm-10' label_class='col-sm-2 control-label' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
    </div>
  </div>
</form>
{% endblock %}
