{% extends "project/base.html" %}
{% load i18n bootstrap3 %}

{% block content %}
<form class="well form-horizontal password-form" action="" method="post" role="form">
  {% csrf_token %}
  <legend>{% trans "Change password"%}</legend>
  {% bootstrap_form form field_class='col-sm-10' label_class='col-sm-2 control-label' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
    </div>
  </div>
</form>
{% endblock %}
