{% extends "accounts/password_reset_base.html" %}

{% load i18n bootstrap3 %}
{% block content %}
{% if validlink %}
    <form class="well form-horizontal" action="" method="post" role="form">
      {% csrf_token %}
      <legend>{% trans "Reset password"%}</legend>
      {% bootstrap_form form field_class='col-sm-10' label_class='col-sm-2 control-label' %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </div>
      </div>
    </form>
{% else %}
    <p>{% trans "This link is invalid." %}</p>
{% endif %}
{% endblock %}
